In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-06-15 17:52:32,22.0752,-159.3190,78.48,87,40,10.36
1,1,Nova Olinda Do Norte,BR,2022-06-15 17:52:32,-3.8881,-59.0942,82.35,78,66,3.65
2,2,Jamestown,US,2022-06-15 17:52:33,42.0970,-79.2353,87.03,73,90,8.01
3,3,Chokurdakh,RU,2022-06-15 17:52:33,70.6333,147.9167,58.89,37,72,9.55
4,4,La Grande,US,2022-06-15 17:47:46,45.3246,-118.0877,64.24,52,58,9.37

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-06-15 17:52:32,22.0752,-159.3190,78.48,87,40,10.36
1,1,Nova Olinda Do Norte,BR,2022-06-15 17:52:32,-3.8881,-59.0942,82.35,78,66,3.65
2,2,Jamestown,US,2022-06-15 17:52:33,42.0970,-79.2353,87.03,73,90,8.01
6,6,Faanui,PF,2022-06-15 17:52:36,-16.4833,-151.7500,80.13,76,17,19.01
7,7,Salinopolis,BR,2022-06-15 17:52:36,-0.6136,-47.3561,84.18,62,42,13.38
17,17,Bathsheba,BB,2022-06-15 17:52:42,13.2167,-59.5167,86.61,66,75,25.32
18,18,Oneonta,US,2022-06-15 17:52:42,42.4529,-75.0638,85.10,53,38,1.81
27,27,Hilo,US,2022-06-15 17:48:44,19.7297,-155.0900,82.11,73,0,5.75
29,29,Mecca,SA,2022-06-15 17:48:35,21.4267,39.8261,88.41,31,28,9.26
36,36,Denpasar,ID,2022-06-15 17:51:04,-8.6500,115.2167,80.26,94,75,10.36

In [26]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
0                  Kapaa      US     78.48  22.0752 -159.3190
1   Nova Olinda Do Norte      BR     82.35  -3.8881  -59.0942
2              Jamestown      US     87.03  42.0970  -79.2353
6                 Faanui      PF     80.13 -16.4833 -151.7500
7            Salinopolis      BR     84.18  -0.6136  -47.3561
17             Bathsheba      BB     86.61  13.2167  -59.5167
18               Oneonta      US     85.10  42.4529  -75.0638
27                  Hilo      US     82.11  19.7297 -155.0900
29                 Mecca      SA     88.41  21.4267   39.8261
36              Denpasar      ID     80.26  -8.6500  115.2167

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,78.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Nova Olinda Do Norte,BR,82.35,-3.8881,-59.0942,Casa Juazeiro
2,Jamestown,US,87.03,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Faanui,PF,80.13,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Salinopolis,BR,84.18,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
17,Bathsheba,BB,86.61,13.2167,-59.5167,Atlantis Hotel
18,Oneonta,US,85.10,42.4529,-75.0638,Hampton Inn Oneonta
27,Hilo,US,82.11,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Mecca,SA,88.41,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
36,Denpasar,ID,80.26,-8.6500,115.2167,OYO 3156 Hotel Warta 2

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))